/*BARRA DE NAVEGAÇÃO COM FORMULÁRIO E DROPDOWN*/
html{
	background: #000;
}


/*CAROUSEL*/



/*GRID RESPONSIVA COM CARDS*/



/*RODAPE*/
footer{
	padding-bottom: 100%;	
	background: #000;
	color:#fff;
}

footer .navbar-nav a{
	color: #298A08;
}
footer .navbar-nav a:hover{
	color: white;
	text-decoration: none;
}
footer ul{
	list-style: none;
}
footer ul li{
	float: right;
	margin: 0 10px;
}
footer div{
	padding: 100%;
}